body
{
    background-color: orange;
    background-image: url('./img/body.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

header
{
    text-align: center;
}

.headText
{
    color: white;
    font-size: 28px;
}

.mainClock
{
    font-size: 22px;
    color: white;
    font-style: monospace;
}

.menu
{
    position: fixed;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: white;
}

.menubar
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}

#toggle,
.menubar
{
    display: none;
}

.menubar li
{
    display: inline;
}

.menubar li a 
{
    text-decoration: none;
    color: gold;
    border: thick double yellow;
}

#toggle:checked +.menubar
{
    display: inline;
}

.bodySection
{
    margin-left: 50px;
}

.mainSection
{
    text-align: center;
}

.content
{
    color: white;
    text-align: center;
}

.luckyNumber
{
    width: 400px;
    margin: auto;
    text-align: center;
    color: white;
    border: 1px solid white;
    padding: 2px;
}

.luckyNumber th 
{
    background-color: gray;
    font-style: oblique;
    font-size: 18px;
}

.luckyNumber td 
{
    border: 1px solid white;
}

.no 
{
    width: 20%;
}

.numbers
{
    width: 60%;
}

.ranking
{
    width: 20%;
}